.rbc-calendar {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .rbc-header {
    background-color: #f7fafc;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
  }
  
  .rbc-event {
    background-color: #68D391;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 2px 5px;
  }
  
  .rbc-today {
    background-color: #edf2f7;
  }
  
  .rbc-toolbar {
    padding: 10px;
    border-bottom: 1px solid #e2e8f0;
  }
  